.mainDiv
{
    height: 100vh;
}
.elementDefaultStyle
{
    width: 100%;
    height: 30px;
    border-radius: 50px;
    padding: 0 5%;
    margin-bottom: 5%;
    border: 2px solid black;
}
.elementErrorStyle
{
    width: 100%;
    height: 30px;
    border-radius: 50px;
    padding: 0 5%;
    margin-bottom: 5%;
    border: 2px solid red;
}
.elementDefaultStyle,.elementErrorStyle:focus
{
    outline:none;
}